* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
}

input, button {
    font-family: inherit;
    padding: 5px 10px;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

ul, li {
    list-style: none;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

nav a {
    padding: 10px 20px;
    border-radius: 15px;
}

.active {
    background-color: snow;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../styles/img/квіти.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
}
/* header start */
#header {
    background-color: grey;
    height: 100px;
    padding: 0 5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0.6;
}

.logo-title-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

#logo {
    border-radius: 25px;
    height: 85%;
    width: 10%;
}

.weather-type-control {
    padding: 3px 0;
}

.weather-type {
    margin: 10px;
}

/* main start  */
#main {
    /* background-color: grey; */
    display: flex;
    padding: 0 5% 0;
    flex-direction: row;
    flex: 1 1 auto;
}

.main-content {
    padding: 15px 0;
    text-align: center;
    flex: 1 1 auto;
}

.server-weather-response {
    min-height: 100px;
    width: 500px;
    margin: 30px auto;
    /* flex: 1 1 auto; */
    padding: 10px 15%;
}

.current-weather {
    background-color: rgba(173, 216, 230, 0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.control-panel-request {
    margin-bottom: 5px;
}

.city-input {
    margin: 10px 0;
}

.api-id {
    display: block;
    margin: 10px auto;
}

.adds-and-links {
    max-width: 20%;
    background-color: lightcyan;
    opacity: 0.3;
    padding: 5px 10px;
}

.link {
    margin: 10px 0;
}

/* footer start  */
#footer {
    text-align: start;
    padding: 10px 5%;
    background-color: lightblue;
    opacity: 0.7;
}